.news-articles-card{
    width: 340px;
    text-align: center;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 10px;
    box-shadow: 0 0 6px 3px gray;
    object-fit: cover;
    font-weight: 600;
}

.url-image{
    display: block;
    margin: 0 auto;
     width: 300px;
     height: 250px;
}

.articles-title{
    font-size: 20px;
}

.articles-info{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.read-more-btn{
    text-decoration: none;
    color: white;
    background-color: #1e90ff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}